doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Flexbox
        link(rel="stylesheet", href="./style.css")
        link(rel="shortcut icon", href="./img/pug-favicon.png", type="image/x-icon")
    body 
        //- .block 
        //-     #first.block-column 
        //-         .block-item.box1 1
        //-     #second.block-column
        //-         .block-item 2
        //-     #third.block-column 
        //-         .block-item 3

       
        .wrapper 
            .content 
                .hi 
                    .container 
                        .hi-row 
                            
                            .hi-body 
                                
                                .hi-title Greetings Pugiverse! 
                                   
                                ul.hi-list 
                                    li Lorem ipsum dolor sit amet. orem ipsum dolor sit amet.orem ipsum dolor sit amet.orem ipsum dolor sit amet.orem ipsum dolor sit amet.
                                    li Lorem ipsum dolor sit amet.
                                    li Lorem ipsum dolor sit amet.
                                    li Lorem ipsum dolor sit amet.
                                .boxforsmoke 
                                        #smoke 
                                            span.s0 
                                            span.s1 
                                            span.s2 
                                            span.s3 
                                            span.s4 
                                            span.s5 
                                            span.s6 
                                            span.s7 
                                            span.s8 
                                            span.s9 
                               
                                   
                            .hi-mage
                                img(src="./img/Hello-World-logo.webp", alt="", srcset="")
                .mainpart 
                    .container 
                        .main-row 
                            .main-img 
                                img#main-pug(src="./img/close-up-shot-pug.jpg", alt="", srcset="" )
                                .box-3
                                    .pugarea
                                        #pup.pug1 
                                            img(src="./img/pugs/pug-1.jpg", alt="", srcset="")
                                        #pup.pug2
                                            img(src="./img/pugs/pug-2.jpg", alt="", srcset="")
                                        #pup.pug3
                                            img(src="./img/pugs/pug-3.jpg", alt="", srcset="")
                                        #pup.pug4
                                            img(src="./img/pugs/pug-4.jpg", alt="", srcset="")
                                        //- p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum, excepturi libero. Deleniti officiis quia ratione omnis voluptates est, esse quos.
                                        //- p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem unde praesentium pariatur quibusdam harum mollitia, ducimus rem sed earum.
                                //- .boxforsmoke smoke
                                //-     #smoke 
                                //-         span.s0 
                                //-         span.s1 
                                //-         span.s2 
                                //-         span.s3 
                                //-         span.s4 
                                //-         span.s5 
                                //-         span.s6 
                                //-         span.s7 
                                //-         span.s8 
                                //-         span.s9 
                                
                            .main-body 
                                .main-title.title 
                                    h1 PUG PUG PUG
                                .main-text 
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit
                                    .nicebutton 
                                        button(class='wave-btn')
                                            span.wave-btn-text BUTTON
                                            span.wave-btn-waves 
                                
                                .columns 
                                    .columns-title 
                                        h3 2 columns 4 objects 
                                        .columns-row 
                                            .column
                                                .column-item.item
                                                    .item-row 
                                                        .item-img 
                                                            img(src="./img/plant.webp", alt="", srcset="")
                                                        .item-body 
                                                            .item-body-title Name of the image
                                                            .item-body-text Lorem ipsum dolor sit amet consectetur
                                                .column-item.item
                                                    .item-row 
                                                        .item-img 
                                                            img(src="./img/brain.jpg", alt="", srcset="")
                                                        .item-body 
                                                            .item-body-title Name of the image
                                                            .item-body-text Lorem ipsum dolor sit amet consectetur
                                            .column
                                                .column-item.item
                                                    .item-row 
                                                        .item-img 
                                                            img(src="./img/banana.jpg", alt="", srcset="")
                                                        .item-body 
                                                            .item-body-title Name of the image
                                                            .item-body-text Lorem ipsum dolor sit amet consectetur
                                                .column-item.item
                                                    .item-row 
                                                        .item-img 
                                                            img(src="./img/dice.jpg", alt="", srcset="")
                                                        .item-body 
                                                            .item-body-title Name of the image
                                                            .item-body-text Lorem ipsum dolor sit amet consectetur
            footer.footer
                .container 
                    .footer-row 
                        .footer-text lorem FLexbox css, 9999
    script(src='./script.js')
            