doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Flexbox
        link(rel="stylesheet", href="./style.css")
    body 
        //- .block 
        //-     #first.block-column 
        //-         .block-item.box1 1
        //-     #second.block-column
        //-         .block-item 2
        //-     #third.block-column 
        //-         .block-item 3

       
        .wrapper 
            .content 
                .hi 
                    .container 
                        .hi-row 
                            .hi-body 
                                .hi-title Greetings Pugiverse! 
                                ul.hi-list 
                                    li Lorem ipsum dolor sit amet.
                                    li Lorem ipsum dolor sit amet.
                                    li Lorem ipsum dolor sit amet.
                                    li Lorem ipsum dolor sit amet.
                                   
                            .hi-mage
                                img(src="./img/Hello-World-logo.webp", alt="", srcset="")
            footer.footer
                .container 
                    .footer-row 
                        .footer-text lorem FLexbox css, 9999
       
            