body {
    background: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
}

.block {
    display: flex;
    border: 10px solid rgb(240, 240, 240);
    /* justify-content: space-between; */
    /* align-items: center; */
    flex-direction: column;
    height: 900px;
}

.block-column {
    display: flex;
    /* align-self: flex-end; */
    border: 20px dotted greenyellow;
    /* margin: 20px; */
    /* flex-basis: 25%; */


    /* flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 1; */
    /* flex: 0 1 200px; */

}

.block-item {
    background-color: aqua;
    padding: 50px;
    font-size: 50px;
    color: rgb(255, 155, 4);
    font-weight: 900;
    /* border-radius: 20px; */

}

#first {
    align-self: flex-start;
    /* order: 3; */
    /* flex-basis: 15%; */
}



.wrapper {
    background-color: rgba(209, 255, 240, 0.808);
    min-height: 98vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */







}



.container {
    max-width: 1180px;
    margin: 0px auto;
}

.content {

    flex: 1 1 auto;


}


.hi {
    background-color: rgba(58, 84, 88, 0.459);
    padding: 50px 0;

}

.hi-row {
    display: flex;
    justify-content: space-between;

}

.hi-body {
    color: rgb(255, 255, 255);
}

.hi-title {
    text-shadow: 1px 1px 5px rgb(10, 47, 49);
    font-weight: 900;
    font-size: 60px;
    margin: 0 0 30px 0;
}

.hi-list li {
    list-style: url('img/pug-icon.png');
    text-shadow: 1px 1px 0 rgba(145, 71, 28, 0.459);
    font-size: 20px;
    line-height: 25px;
    padding-right: 15px;


}

.hi-mage {
    flex: 1 1 400px;
    padding-right: 3px;
}

.hi-mage img {
    max-width: 100%;
    border-radius: 10px;

    outline: 3px solid rgba(89, 89, 221, 0.74);
}


.mainpart {
    padding: 50px 0;
}

.main-row {
    display: flex;

}

.main-img {
    flex: 1 1 auto;
}

.main-img img {
    max-width: 100%;
    border-radius: 10px;
    /* filter: sepia(20%); */

}

.main-body {
    flex: 1 1 1000px;
    padding-left: 50px;


}

/* .box-3 {
    display: flex;
    background-color: azure;
    border-radius: 10px;
    align-items: center;



} */

.box-3 p {
    padding: 5px 8px;
}

.pugarea {
    background-color: aliceblue;
    border-radius: 10px;
    /* height: 300px; */
    min-height: 300px;
    max-height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    /* transition: all 10s ease; */
    /* flex-direction: column; */
    flex: 1 1 auto;
    /* align-items: center; */

    /* animation: pug 3s linear 0s 1 normal forwards; */
}


.animate1 img {
    /* animation: pug 1s linear 2s 1 normal forwards; */
    /* translate(550px, 170px); */
    transform: rotate(360deg) translate(29vw, 10vw);

    filter: sepia(10);
    transition: 6s;




}




.animate1-1 {
    /* name, duration timing-function iteration-count direction delay */
    animation: animate1-1 8s linear 2 alternate 0s forwards;

    /* transform: rotate(1440deg); */


    /* filter: saturate(200%); */

    /* transition: 4s; */
}

.animate1-1:hover {
    animation-play-state: paused;
}

@keyframes animate1-1 {

    10% {
        transform: translate(-1vw, 15vw);
    }

    50% {
        transform: translate(-12vw, 5vw);
        /* border-radius: 50px; */
        /* filter: sepia(100%) */
    }



    100% {
        transform: translate(40vw, -40vw);


    }
}

.animate3 {
    animation: animate3 5s linear forwards;
}

@keyframes animate3 {
    25% {
        transform: rotate(180deg) translate(-10vw, 20vw);
    }

    50% {
        transform: rotate(180deg) translate(-15vw, 25vw);
    }

    /* 100% {
        transform: rotate(-720deg) translate(10vw, -20vw) rotate(-90deg);
    } */
}

.animate4 {
    animation: animate4 6s linear forwards;
}

@keyframes animate4 {
    25% {
        transform: translate(10vw, 10vw) rotate(360deg);
    }

    50% {
        transform: translate(-10vw, -10vw) rotate(360deg);
    }

}

.animate5 {
    transform: rotate(360deg);
    scale: 0.5;
    filter: invert(100%);
    transition: 5s;
}

.pugarea img {
    width: 100px;
    margin: 5px;
    box-shadow: 0px 0px 5px 2px #888888;








}

.main-text {
    background-color: aliceblue;
    border-radius: 10px;
    padding-bottom: 10px;
}

.main-text>p {
    padding: 15px 5px;

}


.nicebutton {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 280px; */

}

.wave-btn {
    width: 280px;
    height: 60px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    /* border-radius: 0 0 10px 10px; */
    text-decoration: none;
    justify-content: center;
    align-items: center;

    transition: all 0.8s ease 0s;
    -webkit-transition: all 0.8s ease 0s;


    overflow: hidden;
    position: relative;
    /* -moz-transition: all 0.8s ease 0s;
    -ms-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s; */


}

.wave-btn:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 20px rgba(255, 230, 0, 0.541);
}

.wave-btn-text {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 30px;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
    position: relative;
    z-index: 1;
}

.wave-btn-waves {
    position: absolute;
    width: 280px;
    height: 280px;
    background-color: rgb(255, 230, 0);
    box-shadow: inset 0 0 60px rgb(0, 0, 0);
}

.wave-btn-waves:after,
.wave-btn-waves:before {
    content: ' ';
    position: absolute;
    top: 40%;
    left: 50%;
    width: 250%;
    height: 250%;
    transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
}

.wave-btn-waves:before {
    background-color: rgba(0, 0, 0, 0.952);
    border-radius: 41%;
    animation: waves 55s infinite linear;
}

.wave-btn-waves:after {
    background-color: rgb(0, 0, 0);
    border-radius: 49%;
    animation: waves 60s infinite linear;
}


@keyframes waves {
    0% {
        transform: translate3d(-50%, -95%, 0) rotate(0deg) scale(1);
    }



    100% {
        transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    }
}

.columns {
    margin-top: 5px;
    background-color: aliceblue;
    padding: 5px;
    border-radius: 10px;

}

.columns-title h3 {
    color: brown;
}

.columns-row {
    display: flex;
    flex-wrap: wrap;

}

.column {
    flex: 0 1 50%;

}


.item-row {
    display: flex;
}

.item-img {
    flex: 0 1 auto;

}

.item-img img {
    max-width: 100%;
    border-radius: 10px;
}

.item-body {
    flex: 1 1 auto;
    padding: 0 5px 0 5px;
}

.item-body-title {
    color: #2e3e53;
    font-weight: 700;
    padding: 3px 0 0px 0;
}

.footer {

    background-color: aliceblue;



}

.footer-row {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
}


.pugarea img:hover {
    /* scale: 1.1; */
    opacity: 0.9;
    filter: saturate(200%);
    /* transition: 1s; */
}

@keyframes pug {

    0% {
        align-items: flex-start;
    }

    50% {
        align-items: center;
    }



    100% {
        align-items: flex-end;
    }
}