body {
    background: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
}

.block {
    display: flex;
    border: 10px solid rgb(240, 240, 240);
    /* justify-content: space-between; */
    /* align-items: center; */
    flex-direction: column;
    height: 900px;
}

.block-column {
    display: flex;
    /* align-self: flex-end; */
    border: 20px dotted greenyellow;
    /* margin: 20px; */
    /* flex-basis: 25%; */


    /* flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 1; */
    /* flex: 0 1 200px; */

}

.block-item {
    background-color: aqua;
    padding: 50px;
    font-size: 50px;
    color: rgb(255, 155, 4);
    font-weight: 900;
    /* border-radius: 20px; */

}

#first {
    align-self: flex-start;
    /* order: 3; */
    /* flex-basis: 15%; */
}



.wrapper {
    background-color: rgba(209, 255, 240, 0.808);
    min-height: 98vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */







}



.container {
    max-width: 1180px;
    margin: 0px auto;
}

.content {

    flex: 1 1 auto;


}


.hi {
    background-color: rgba(58, 84, 88, 0.459);
    padding: 50px 0;

}

.hi-row {
    display: flex;
    justify-content: space-between;

}

.hi-body {
    color: rgb(255, 255, 255);
}

.hi-title {
    text-shadow: 1px 1px 5px rgb(10, 47, 49);
    font-weight: 900;
    font-size: 60px;
    margin: 0 0 30px 0;
}

.hi-list li {
    list-style: url('img/pug-icon.png');
    text-shadow: 1px 1px 0 rgba(145, 71, 28, 0.459);
    font-size: 20px;
    line-height: 25px;


}

.hi-mage img {
    border-radius: 10px;
    outline: 3px solid rgba(89, 89, 221, 0.74);
}


.mainpart {
    padding: 50px 0;
}

.main-row {
    display: flex;

}

.main-img {
    flex: 1 1 auto;
}

.main-img img {
    max-width: 100%;
    border-radius: 10px;
    /* filter: sepia(20%); */

}

.main-body {
    flex: 1 1 1000px;
    padding-left: 50px;

}

.box-3 {
    display: flex;
    /* background-color: azure; */
    border-radius: 10px;
    /* align-items: center; */



}

.box-3 p {
    padding: 5px 8px;
}

.pugarea {
    display: flex;
    flex-direction: column-reverse;
    flex: 0 0 500px;
    align-items: center;
}

.pugarea>img {
    max-width: 30%;

}

.columns {
    background-color: rgb(235, 241, 248);
    padding: 5px;
    border-radius: 10px;

}

.columns-title h3 {
    color: brown;
}

.columns-row {
    display: flex;
    flex-wrap: wrap;

}

.column {
    flex: 0 1 50%;

}


.item-row {
    display: flex;
}

.item-img {
    flex: 0 1 auto;

}

.item-img img {
    max-width: 100%;
    border-radius: 10px;
}

.item-body {
    flex: 1 1 auto;
    padding: 0 5px 0 5px;
}

.item-body-title {
    color: #2e3e53;
    font-weight: 700;
    padding: 3px 0 0px 0;
}

.footer {

    background-color: aliceblue;



}

.footer-row {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
}